{% extends "base.html" %}

{% block content %}
 <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                <a href="/products/{{ product.id }}" class="text-decoration-none text-dark ">
                    {% if product.image %}
                    <img src="{{ url_for('static', filename='upload/' + product.image) }}"
                         class="card-img-top product-image"
                         alt="{{ product.name }}">
                    {% else %}
                    <div class="card-img-top no-image">Нет изображения</div>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                             <span class="h4 text-success">{{ product.price }} ₽</span>
                            {% if product.open %}
                                <span class="badge bg-success">Открытый</span>
                            {% else %}
                                <span class="badge bg-danger">Закрытый</span>
                            {% endif %}

                            {% if product.amount_available and product.amount_available > 0 %}
                                <span class="badge bg-success">В наличии: {{ product.amount_available }}</span>
                            {% else %}
                                <span class="badge bg-danger">Нет в наличии</span>
                            {% endif %}
                        </div>
                    </div>
                </a>

                <div class="card-footer bg-transparent">
                    <a href="/user/products/edit/{{product.id}}" class="btn btn-primary w-100">Редактировать</a>
                    <span></span>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <div class="alert alert-warning">
                Товары не найдены. Попробуйте изменить условия поиска.
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}